
            <footer class="footer mt-auto py-3 bg-white text-center">
                <div class="container">
                    <span class="text-muted">
                        Preview &mdash; made with <i class="bx bx-heart text-danger"></i> by
                        <a href="https://github.com/Jacquesvdberg92" target="_blank" class="fw-medium text-primary">
                            Jacquesvdberg92
                        </a>
                    </span>
                </div>
            </footer>
