
            <footer class="footer mt-auto py-3 bg-white text-center">
                <div class="container">
                    <span class="text-muted">
                        Made with <i class="bx bx-heart text-danger"></i> by
                        <a href="https://github.com/Jacquesvdberg92" target="_blank" class="fw-medium text-primary">
                            Jacquesvdberg92
                        </a>
                        &nbsp;&bull;&nbsp;
                        <a href="https://u24.gov.ua/" target="_blank" class="fw-medium" style="color:#005BBB;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14" style="vertical-align:middle;border-radius:2px;margin-right:4px;"><rect width="20" height="7" fill="#005BBB"/><rect y="7" width="20" height="7" fill="#FFD500"/></svg>We stand with Ukraine<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14" style="vertical-align:middle;border-radius:2px;margin-left:4px;"><rect width="20" height="7" fill="#005BBB"/><rect y="7" width="20" height="7" fill="#FFD500"/></svg>
                        </a>
                    </span>
                </div>
            </footer>
